.logo {
  width: 162px;
  margin: 10px;
}

// HOMEPAGE


.default-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: white;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background: linear-gradient($pink, $violet);
}

.fonctionnement-widget {
  width: 450px;
  height: 70px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 20px;
  background-color: white;
  border: none;
  box-shadow: 0px 4px 4px 0px #00000025;
}

.restaurants-menu {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 420px;
  height: 260px;
  box-shadow: 0px 4px 4px 0px #00000010;
}


.new {
  @include flex-center;
  // position: relative;
  bottom: 170px;
  left: 325px;
  width: 80px;
  height: 30px;
  color: $green;
  background-color: $light-green;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 2px;
}

// .heart-btn {
//   position: relative;
//   left: 370px;
//   bottom: 35px;
// }

//MENU