// HOMEPAGE

.default-btn {
  @include flex-center;
  font-size: 16px;
  font-weight: 500;
  color: white;
  width: 100%;
  max-width: 218px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient($pink, $violet);
}

.restaurants-menu {
  .heart-btn {
    position: absolute;
    right: 20px;
    width: 50px;
    height: 35px;
    font-size: 30px;
    border: none;
    background-color: transparent;
    .empty-heart:focus {
      display: none;
    }
    .full-heart {
      display: none;
      color: transparent;
      background-clip: text;
      background-image: linear-gradient($pink, $violet);
    }
    .full-heart:focus {
      display: block;
    }
  }
}

.menu-title {
  .heart-btn {
    position: absolute;
    top: 17px;
    right: 20px;
    width: 50px;
    height: 35px;
    font-size: 30px;
    border: none;
    background-color: transparent;
    .empty-heart:focus {
      display: none;
    }
    .full-heart {
      display: none;
      color: transparent;
      background-clip: text;
      background-image: linear-gradient($pink, $violet);
    }
    .full-heart:focus {
      display: block;
    }
  }
}
