.default-btn {
  @include flex-center;
  font-size: 16px;
  font-weight: 500;
  color: white;
  width: 100%;
  max-width: 218px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient($pink, $violet);
  box-shadow: 2px 5px 5px #00000030;
}

.default-btn:hover {
  opacity: 90%;
  transition: 0.5s;
  box-shadow: 2px 5px 5px #00000055;
}

.restaurants-menu {
  .heart-btn {
    position: absolute;
    right: 20px;
    width: 50px;
    height: 35px;
    font-size: 30px;
    border: none;
    background-color: transparent;
    .full-heart {
      display: none;
      color: transparent;
      background-clip: text;
      background-image: linear-gradient($pink, $violet);
    }
  }
  .heart-btn:focus {
    .full-heart {
      display: block;
    }

    .empty-heart {
      display: none;
    }
  }
}

.menu-title {
  .heart-btn {
    position: absolute;
    top: 17px;
    right: 20px;
    width: 50px;
    height: 35px;
    font-size: 30px;
    border: none;
    background-color: transparent;
    .full-heart {
      display: none;
      color: transparent;
      background-clip: text;
      background-image: linear-gradient($pink, $violet);
    }
  }
  .heart-btn:focus {
    .full-heart {
      display: block;
    }
    .empty-heart {
      display: none;
    }
  }
}

.lds-ring {
  color: $violet;
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 15%;
  left: 43.5%;
  width: 100px;
  height: 100px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring-animation cubic-bezier(0.5, 0.5, 0.5, 0.5) infinite;
  border-color: currentColor transparent transparent transparent;
  transition-duration: 2s;
  animation-duration: 1s;
  @keyframes lds-ring-animation {
    0% {
      transform: rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: rotate(360deg);
      opacity: 0;
    }
  }
}
