// All menus css

.main-menu {
  background-color: white;
  margin-bottom: -20px;
}

.menu-body {
  display: flex;
  flex-direction: column;
  background: white;
  font-family: "Roboto", sans-serif;
}

.menu-header-div {
  display: flex;
  align-items: center;
  font-size: 22px;
  a {
    position: absolute;
    left: 20px;
  }
}

.menu-h1 {
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
  font-family: "Shrikhand", sans-serif;
  padding-right: 20px;
}

.section-menu {
  position: relative;
  bottom: 20px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: $grey-bg;
  margin-top: -20px;
  padding: 0px 2.5% 40px 2.5%;
}
.menu-img {
  display: flex;
  height: 280px;
  object-fit: cover;
  width: 100%;
}

.menu-title {
  padding: 20px 20px 40px 20px;
  margin-right: 40px;
  button,
  svg {
    position: absolute;
    right: 20px;
    top: 10px;
    border: none;
  }
}

.choice-titles-text {
  text-transform: uppercase;
  font-weight: 300;
  width: 150px;
  line-height: 2;
  padding-left: 8px;
}
.choice-titles {
  position: relative;
  animation: slide ease-in 2.7s;
}
/* bottom line */
.choice-titles::after {
  content: "";
  position: absolute;
  background-color: $light-green;
  width: 27%;
  height: 3px;
  bottom: 0;
  left: 8px;
}

.choice {
  @include flex-center-c;
  padding: 15px 5px 40px 5px;
  gap: 10px;
}

.choice-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: white;
  box-shadow: 0px 4px 4px 0px #00000010;
  border-radius: 15px;
  width: 100%;
  line-height: 22px;
  overflow: hidden;
  padding: 0;
  position: relative;
  animation: slide ease-in 2.7s;

  @keyframes slide {
    0% {
      transform: translateX(700px);
    }
    100% {
      transform: translateX(0px);
    }
  }

  .btn-content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    padding: 10px 5px 10px 0px;
    .choice-btn-left-content {
      display: flex;
      flex-direction: column;
      align-items: start;
      overflow: hidden;
      padding-left: 15px;
    }
    h3 {
      display: flex;
      font-size: 18px;
      font-weight: 500;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .description {
      font-size: 15px;
      font-weight: 300;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .price {
      padding-left: 15px;
      padding-right: 10px;
      font-weight: 700;
    }
  }
}

.btn-check {
  width: 0px;
  transition: 0.5s;
}
.choice-box:hover,
.choice-box:focus {
  .btn-check {
    background-color: $light-green;
    width: 62px;
    height: 63.98px;
  }
}

.check-icon {
  position: relative;
  top: 22px;
  right: 2px;
  color: white;
  font-size: 20px;
  height: 64px;
}

.command-btn {
  @include flex-center;
}

// Desktop

@media (min-width: 769px) {
  .section-menu {
    width: 70%;
    .menu-title {
      display: flex;
      justify-content: center;
      padding-right: 20px;
      .heart-btn {
        position: relative;
        top: -2px;
        left: 25px;
      }
    }
    .choice-titles {
      padding-left: 8px;
    }
    .title-border {
      left: 32px;
    }
  }
}
